<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylos.css">
    <link rel="stylesheet" href="stylos.css">

    <style>
       

        /* Additional custom CSS for centering the form */
        .centered-form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Adjust the height as needed */
        }
        .custom-input {
            width: 200px; /* You can adjust the width value as per your preference */
        }
    </style>
</head>
<body>
    

    <h1 class="text-center mt-5 mb-5 text-primary">CONSUMO ELECTRICO</h1>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <!-- Tabla -->
                <h2   class="text-center mt-5 mb-5 text-primary">DATOS</h2>
                <a href="{{ url_for('home') }}"><button class="btn btn-primary mb-3 mt-4">Regresar</button></a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Medidor</th>
                            <th scope="col">Lectura Actual</th>
                            <th scope="col">Lectura Anterior</th>
                            <th scope="col">Consumo</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Pendiente</th>
                        </tr>
                    </thead>
                
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>{{d.idconsumos}}</td>
                            <td>{{d.fecha}}</td>
                            <td>{{d.n_medidor}}</td>
                            <td>{{d.lectura_actual}}</td>
                            <td>{{d.lectura_anterior}}</td>
                            <td>{{d.consumo}}</td>
                            <td>{{d.valor}}</td>
                            <td>{{d.estado}}</td>
                        </tr>
                    {% endfor %}

                </tbody>

            </table>


            </div>
        </div>
    </div>
    
</body>
</html>